@import './styles/variables';
@import './styles/mixins';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: $white;
  color: $black;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
