@import '../styles/variables';
@import '../styles/mixins';

.rating {
  display: flex;
  gap: $spacing-xs;

  &-star {
    color: $primary-color;

    &.filled {
      color: $primary-color;
    }

    &.empty {
      color: #E3E3E3;
    }

    @include mobile {
      width: 18px;
      height: 18px;
    }
  }
}

