// Colors
$primary-color: #FF6060;
$secondary-color: #F6F6F6;
$background-gradient: linear-gradient(135deg, $primary-color 0%, #FF4040 100%);
$text-color: #FF6060;
$white: #FFFFFF;
$black: #000000;

// Breakpoints
$mobile: 768px;
$tablet: 1024px;